<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Live Location Map</title>

<link rel="stylesheet"
href="https://unpkg.com/leaflet/dist/leaflet.css"/>

<style>

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

height:100vh;

display:flex;

flex-direction:column;

}

header{

background:#0077ff;

color:white;

padding:15px;

text-align:center;

}

#map{

height:100%;

width:100%;

}

</style>

</head>

<body>

<header>

<h2>📍 Live Location Tracker</h2>

<p>User :
<span id="userid"></span>
</p>

<p>Total Distance :
<span id="distance">0 km</span>
</p>

<p>Speed :
<span id="speed">0 km/h</span>
</p>

</header>

<div id="map"></div>

<script src="/socket.io/socket.io.js"></script>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>

const id = new URLSearchParams(location.search).get("id");

document.getElementById("userid").innerHTML=id;

const map=L.map("map").setView([20.5937,78.9629],5);

L.tileLayer(

"https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",

{

maxZoom:19,

attribution:"© OpenStreetMap"

}

).addTo(map);

const marker=L.marker([20.5937,78.9629]).addTo(map);

marker.bindPopup("Waiting for Location...").openPopup();

const route = L.polyline([], {

    color: "blue",

    weight: 5

}).addTo(map);

const socket=io();

fetch(`/history/${id}`)

.then(res => res.json())

.then(history => {

    history.forEach(point => {

        route.addLatLng([point.lat, point.lng]);

    });

    if(history.length){

        map.fitBounds(route.getBounds());

    }

});

socket.on("location-update", (user) => {

    if (user.id !== id) return;

    const lat = parseFloat(user.lat);
    const lng = parseFloat(user.lng);

    marker.setLatLng([lat, lng]);

    route.addLatLng([lat, lng]);

    marker.setPopupContent(`

<b>User :</b> ${id}<br>

Speed : ${(user.speed * 3.6).toFixed(2)} km/h<br>

Accuracy : ${user.accuracy.toFixed(1)} m<br>

Updated : ${user.lastUpdated}

`);

    map.fitBounds(route.getBounds());

});

function distance(lat1, lon1, lat2, lon2){

const R = 6371;

const dLat = (lat2-lat1)*Math.PI/180;

const dLon = (lon2-lon1)*Math.PI/180;

const a =

Math.sin(dLat/2)**2 +

Math.cos(lat1*Math.PI/180) *

Math.cos(lat2*Math.PI/180) *

Math.sin(dLon/2)**2;

return R * 2 * Math.atan2(Math.sqrt(a),Math.sqrt(1-a));

}


</script>

</body>

</html>

